'.platform-darwin':
  'cmd-\\': 'tree-view:toggle'
  'cmd-k cmd-b': 'tree-view:toggle'
  'cmd-|': 'tree-view:reveal-active-file'
  'ctrl-0': 'tree-view:toggle-focus'

'.platform-win32, .platform-linux':
  'ctrl-\\': 'tree-view:toggle'
  'ctrl-k ctrl-b': 'tree-view:toggle'
  'ctrl-|': 'tree-view:reveal-active-file'
  'alt-\\': 'tree-view:toggle-focus'

'.platform-darwin .tree-view':
  'cmd-c': 'tree-view:copy'
  'cmd-x': 'tree-view:cut'
  'cmd-v': 'tree-view:paste'
  'ctrl-f': 'tree-view:expand-item'
  'ctrl-b': 'tree-view:collapse-directory'
  'cmd-k right': 'tree-view:open-selected-entry-right'
  'cmd-k l': 'tree-view:open-selected-entry-right'
  'cmd-k left': 'tree-view:open-selected-entry-left'
  'cmd-k h': 'tree-view:open-selected-entry-left'
  'cmd-k up': 'tree-view:open-selected-entry-up'
  'cmd-k k': 'tree-view:open-selected-entry-up'
  'cmd-k down': 'tree-view:open-selected-entry-down'
  'cmd-k j': 'tree-view:open-selected-entry-down'
  'cmd-1': 'tree-view:open-selected-entry-in-pane-1'
  'cmd-2': 'tree-view:open-selected-entry-in-pane-2'
  'cmd-3': 'tree-view:open-selected-entry-in-pane-3'
  'cmd-4': 'tree-view:open-selected-entry-in-pane-4'
  'cmd-5': 'tree-view:open-selected-entry-in-pane-5'
  'cmd-6': 'tree-view:open-selected-entry-in-pane-6'
  'cmd-7': 'tree-view:open-selected-entry-in-pane-7'
  'cmd-8': 'tree-view:open-selected-entry-in-pane-8'
  'cmd-9': 'tree-view:open-selected-entry-in-pane-9'

'.platform-win32 .tree-view, .platform-linux .tree-view':
  'ctrl-c': 'tree-view:copy'
  'ctrl-x': 'tree-view:cut'
  'ctrl-v': 'tree-view:paste'
  'ctrl-k right': 'tree-view:open-selected-entry-right'
  'ctrl-k l': 'tree-view:open-selected-entry-right'
  'ctrl-k left': 'tree-view:open-selected-entry-left'
  'ctrl-k h': 'tree-view:open-selected-entry-left'
  'ctrl-k up': 'tree-view:open-selected-entry-up'
  'ctrl-k k': 'tree-view:open-selected-entry-up'
  'ctrl-k down': 'tree-view:open-selected-entry-down'
  'ctrl-k j': 'tree-view:open-selected-entry-down'
  'ctrl-1': 'tree-view:open-selected-entry-in-pane-1'
  'ctrl-2': 'tree-view:open-selected-entry-in-pane-2'
  'ctrl-3': 'tree-view:open-selected-entry-in-pane-3'
  'ctrl-4': 'tree-view:open-selected-entry-in-pane-4'
  'ctrl-5': 'tree-view:open-selected-entry-in-pane-5'
  'ctrl-6': 'tree-view:open-selected-entry-in-pane-6'
  'ctrl-7': 'tree-view:open-selected-entry-in-pane-7'
  'ctrl-8': 'tree-view:open-selected-entry-in-pane-8'
  'ctrl-9': 'tree-view:open-selected-entry-in-pane-9'

'.tree-view':
  'right': 'tree-view:expand-item'
  'ctrl-]': 'tree-view:expand-item'
#  'l': 'tree-view:expand-item'
  'left': 'tree-view:collapse-directory'
  'ctrl-[': 'tree-view:collapse-directory'
  'alt-ctrl-]': 'tree-view:recursive-expand-directory'
  'alt-right': 'tree-view:recursive-expand-directory'
  'alt-ctrl-[': 'tree-view:recursive-collapse-directory'
  'alt-left': 'tree-view:recursive-collapse-directory'
#  'h': 'tree-view:collapse-directory'
  'enter': 'tree-view:open-selected-entry'
  'escape': 'tree-view:unfocus'
  'ctrl-C': 'tree-view:copy-full-path'
#  'm': 'tree-view:move'
  'f2': 'tree-view:move'
#  'a': 'tree-view:add-file'
  'shift-a': 'tree-view:add-folder'
#  'd': 'tree-view:duplicate'
  'a': 'tree-view:scroll-to-letter-a'
  'delete': 'tree-view:remove'
  'backspace': 'tree-view:remove'
#  'k': 'core:move-up'
#  'j': 'core:move-down'
  'shift-i': 'tree-view:toggle-vcs-ignored-files'
  'home': 'core:move-to-top'
  'end': 'core:move-to-bottom'
  '!': 'tree-view:scroll-to-letter-!'
  '#': 'tree-view:scroll-to-letter-#'
  '.': 'tree-view:scroll-to-letter-.'
  '/': 'tree-view:scroll-to-letter-/'
  '0': 'tree-view:scroll-to-letter-0'
  '1': 'tree-view:scroll-to-letter-1'
  '2': 'tree-view:scroll-to-letter-2'
  '3': 'tree-view:scroll-to-letter-3'
  '4': 'tree-view:scroll-to-letter-4'
  '5': 'tree-view:scroll-to-letter-5'
  '6': 'tree-view:scroll-to-letter-6'
  '7': 'tree-view:scroll-to-letter-7'
  '8': 'tree-view:scroll-to-letter-8'
  '9': 'tree-view:scroll-to-letter-9'
  '-': 'tree-view:scroll-to-letter--'
  ':': 'tree-view:scroll-to-letter-:'
  ';': 'tree-view:scroll-to-letter-;'
  '?': 'tree-view:scroll-to-letter-?'
  '@': 'tree-view:scroll-to-letter-@'
  '_': 'tree-view:scroll-to-letter-_'
  'a': 'tree-view:scroll-to-letter-a'
  'b': 'tree-view:scroll-to-letter-b'
  'c': 'tree-view:scroll-to-letter-c'
  'd': 'tree-view:scroll-to-letter-d'
  'e': 'tree-view:scroll-to-letter-e'
  'f': 'tree-view:scroll-to-letter-f'
  'g': 'tree-view:scroll-to-letter-g'
  'h': 'tree-view:scroll-to-letter-h'
  'i': 'tree-view:scroll-to-letter-i'
  'j': 'tree-view:scroll-to-letter-j'
  'k': 'tree-view:scroll-to-letter-k'
  'l': 'tree-view:scroll-to-letter-l'
  'm': 'tree-view:scroll-to-letter-m'
  'n': 'tree-view:scroll-to-letter-n'
  'o': 'tree-view:scroll-to-letter-o'
  'p': 'tree-view:scroll-to-letter-p'
  'q': 'tree-view:scroll-to-letter-q'
  'r': 'tree-view:scroll-to-letter-r'
  's': 'tree-view:scroll-to-letter-s'
  't': 'tree-view:scroll-to-letter-t'
  'u': 'tree-view:scroll-to-letter-u'
  'v': 'tree-view:scroll-to-letter-v'
  'w': 'tree-view:scroll-to-letter-w'
  'x': 'tree-view:scroll-to-letter-x'
  'y': 'tree-view:scroll-to-letter-y'
  'z': 'tree-view:scroll-to-letter-z'
  '~': 'tree-view:scroll-to-letter-~'

'.tree-view-dialog atom-text-editor[mini]':
  'enter': 'core:confirm'
  'escape': 'core:cancel'
